In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori,association_rules
#import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('myphonedata.csv')

In [4]:
data # encoding problem will do it later

        V1      V2      V3  red  white  green  yellow  orange  blue
0      red   white   green    1      1      1       0       0     0
1    white  orange     NaN    0      1      0       0       1     0
2    white    blue     NaN    0      1      0       0       0     1
3      red   white  orange    1      1      0       0       1     0
4      red    blue     NaN    1      0      0       0       0     1
5    white    blue     NaN    0      1      0       0       0     1
6      red    blue     NaN    1      0      0       0       0     1
7      red   white    blue    1      1      0       0       0     1
8    green     NaN     NaN    0      0      1       0       0     0
9      red   white    blue    1      1      0       0       0     1
10  yellow     NaN     NaN    0      0      0       1       0     0