# List

In [2]:
v  <- c(1,2,3,4,5,6)
v

[1] 1 2 3 4 5 6

In [7]:
m  <- matrix(1:5)

In [8]:
m

     [,1]
[1,] 1
[2,] 2
[3,] 3
[4,] 4
[5,] 5

In [9]:
class(m)

[1] "matrix"

In [11]:
n  <- matrix(1:10,nrow=2)

In [13]:
class(n)
n

[1] "matrix"

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    3    5    7     9
[2,] 2    4    6    8    10

In [14]:
df  <- women

In [19]:
df

   height weight
1  58     115
2  59     117
3  60     120
4  61     123
5  62     126
6  63     129
7  64     132
8  65     135
9  66     139
10 67     142
11 68     146
12 69     150
13 70     154
14 71     159
15 72     164

In [21]:
head(df)

  height weight
1 58     115
2 59     117
3 60     120
4 61     123
5 62     126
6 63     129

In [22]:
tail(df)

   height weight
10 67     142
11 68     146
12 69     150
13 70     154
14 71     159
15 72     164

# Using list

In [24]:
li  <- list(v,m,df)

In [25]:
li

[[1]]
[1] 1 2 3 4 5 6

[[2]]
     [,1]
[1,]    1
[2,]    2
[3,]    3
[4,]    4
[5,]    5

[[3]]
   height weight
1      58    115
2      59    117
3      60    120
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

In [26]:
li <- list(sample_vec = v,sample_mat = m, sample_df = df)

In [27]:
li

$sample_vec
[1] 1 2 3 4 5 6

$sample_mat
     [,1]
[1,]    1
[2,]    2
[3,]    3
[4,]    4
[5,]    5

$sample_df
   height weight
1      58    115
2      59    117
3      60    120
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

In [32]:
li[['sample_vec']][2] # Second set of indexing

[1] 2

In [34]:
li[['sample_mat']][3] # sample matrix data type

[1] 3

In [37]:
li[['sample_mat']]

     [,1]
[1,] 1
[2,] 2
[3,] 3
[4,] 4
[5,] 5

In [43]:
li[['sample_df']]['height']

   height
1  58
2  59
3  60
4  61
5  62
6  63
7  64
8  65
9  66
10 67
11 68
12 69
13 70
14 71
15 72

In [45]:
li[['sample_df']]['weight']

   weight
1  115
2  117
3  120
4  123
5  126
6  129
7  132
8  135
9  139
10 142
11 146
12 150
13 154
14 159
15 164

In [47]:
li[['sample_df']]['height'][1]

   height
1  58
2  59
3  60
4  61
5  62
6  63
7  64
8  65
9  66
10 67
11 68
12 69
13 70
14 71
15 72

In [57]:
double_list  <- c(li,li)

In [58]:
double_list

$sample_vec
[1] 1 2 3 4 5 6

$sample_mat
     [,1]
[1,]    1
[2,]    2
[3,]    3
[4,]    4
[5,]    5

$sample_df
   height weight
1      58    115
2      59    117
3      60    120
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

$sample_vec
[1] 1 2 3 4 5 6

$sample_mat
     [,1]
[1,]    1
[2,]    2
[3,]    3
[4,]    4
[5,]    5

$sample_df
   height weight
1      58    115
2      59    117
3      60    120
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

In [59]:
str(double_list)

List of 6
 $ sample_vec: num [1:6] 1 2 3 4 5 6
 $ sample_mat: int [1:5, 1] 1 2 3 4 5
 $ sample_df :'data.frame':	15 obs. of  2 variables:
  ..$ height: num [1:15] 58 59 60 61 62 63 64 65 66 67 ...
  ..$ weight: num [1:15] 115 117 120 123 126 129 132 135 139 142 ...
 $ sample_vec: num [1:6] 1 2 3 4 5 6
 $ sample_mat: int [1:5, 1] 1 2 3 4 5
 $ sample_df :'data.frame':	15 obs. of  2 variables:
  ..$ height: num [1:15] 58 59 60 61 62 63 64 65 66 67 ...
  ..$ weight: num [1:15] 115 117 120 123 126 129 132 135 139 142 ...