# R Basice practice

## Arithemetic with R

### Addition

In [1]:
1+2

[1] 3

In [2]:
2+5

[1] 7

### Substraction

In [3]:
5-6

[1] -1

In [4]:
7-3

[1] 4

### Multiplication

In [5]:
3*2

[1] 6

In [6]:
4*6

[1] 24

### Division

In [7]:
5/5

[1] 1

In [8]:
4/3

[1] 1.333333

In [10]:
10/3

[1] 3.333333

### Modulus

In [13]:
10 %% 3

[1] 1

In [14]:
5 %% 2

[1] 1

In [15]:
20 %% 5

[1] 0

### Order of operation

In [16]:
(100*2)+ (50/2)

[1] 225

Thats the best practices

# Variables

lets go over how to assign variables

You can use the <- character to assign a variable, note how it kind of looks like an arrow pointing from the object to the variable name.

In [19]:
# use hash tag for comment 
variable.name  <- 100

## Working with variables

we can use variables togeather and work with them example

In [20]:
bank.account  <- 100

In [21]:
deposit  <- 10

In [22]:
bank.account = bank.account + deposit

In [23]:
bank.account

[1] 110

# Comparision operator

In [1]:
5>6

[1] FALSE

In [3]:
6>5

[1] TRUE

# vector comparision

In [5]:
v1  <- c(1,2,3)
v2  <- c(10,20,30)

In [7]:
v1 > v2

[1] FALSE FALSE FALSE

In [30]:
v1 < v2

[1] TRUE TRUE TRUE

In [31]:
v3  <- c(1,2,3,4,5)

In [32]:
v3 < 2

[1]  TRUE FALSE FALSE FALSE FALSE

In [33]:
v3 == .3

[1] FALSE FALSE FALSE FALSE FALSE

In [11]:
6 >= 6

[1] TRUE

In [13]:
6 == 6

[1] TRUE

In [15]:
6 <= 6

[1] TRUE

In [17]:
6 >= 5

[1] TRUE

In [19]:
5 >= 6

[1] FALSE

Not equal to sign

In [21]:
5 != 6

[1] TRUE

In [24]:
5 != 5

[1] FALSE

In [26]:
2 != 5

[1] TRUE

Getting help in R

In [36]:
help(vector) # it will openup help menu for you.

In [39]:
help.search('numeric') # popup window search

In [41]:
??vecror

In [43]:
v  <- c(1,2,3,4,5,6)
summary(v)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    2.25    3.50    3.50    4.75    6.00

In [44]:
print('hello')

[1] "hello"

In [45]:
x  <- 10
print(x)

[1] 10

In [48]:
y  <- mtcars
print(y)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

In [50]:
print(paste('hello, world!'))

[1] "hello, world!"

In [53]:
print(paste('hello world',sep = '-|-'))

[1] "hello world"

In [56]:
print(paste('hello','world',sep='-|-'))

[1] "hello-|-world"

In [59]:
paste0('hello','world')

[1] "helloworld"

In [62]:
sprintf("%s is %f feet tall ","seven",7)

[1] "seven is 7.000000 feet tall "

In [65]:
help(sprintf)

# Data types

In [67]:
n  <- 2.3

In [69]:
class(n)
typeof(n)

[1] "numeric"

[1] "double"

In [71]:
i  <- 5
class(i)
typeof(i)

[1] "numeric"

[1] "double"

In [76]:
j  <- TRUE

class(j)
typeof(j)

k  <- FALSE
class(k)
typeof(k)

[1] "logical"

[1] "logical"

[1] "logical"

[1] "logical"

In [81]:
char  <- "Hello World"
class(char)
typeof(char)

[1] "character"

[1] "character"

# Vector Basics

In [84]:
nv  <- c(1,2,3,4,5,6,7)
class(nv)
typeof(nv)

[1] "numeric"

[1] "double"

In [87]:
cv  <- c('U','S','A')
class(cv)
typeof(cv)

[1] "character"

[1] "character"

In [89]:
lv  <- c(TRUE,FALSE)
class(lv)
typeof(lv)

[1] "logical"

[1] "logical"

Mixing the data types

In [92]:
v  <- c(FALSE,'t')
v

[1] "FALSE" "t"

In [96]:
v4  <- c("Taaps",5)
class(v4)

[1] "character"

In [97]:
temp <- c(71,72,73,74,75,76,77)
temp

[1] 71 72 73 74 75 76 77

In [100]:
names(temp)  <- c('mon','tue','wed','thu','fri','sat','sun')
temp

mon tue wed thu fri sat sun
 71  72  73  74  75  76  77

In [102]:
temp

mon tue wed thu fri sat sun
 71  72  73  74  75  76  77

In [106]:
days  <- c('Mon','Tue','Wed','Thu','Fri','Sat','Sun')
temp2  <- c(1,2,3,4,5,6,7)
names(temp2)  <- days

In [108]:
temp2

Mon Tue Wed Thu Fri Sat Sun
  1   2   3   4   5   6   7

In [114]:
v1[1]

[1] 1

In [116]:
v2

[1] 10 20 30

In [117]:
v3

[1] 1 2 3 4 5

In [119]:
v3[4]

[1] 4

In [121]:
v4

[1] "Taaps" "5"

In [125]:
v5  <- v1+ v2
v5

[1] 11 22 33

In [127]:
filter  <- v1 >2
filter

[1] FALSE FALSE  TRUE

In [130]:
v1[filter]

[1] 3

# Multiplication

In [133]:
a  <- v1*v2
a

[1] 10 40 90

# Functions

In [137]:
min(v5)

[1] 11

In [138]:
max(v5)

[1] 33

In [140]:
sd(v5)

[1] 11

In [142]:
mean(v5)

[1] 22

In [144]:
median(v5)

[1] 22

In [146]:
mode(v5)

[1] "numeric"

In [149]:
prod(v1)

[1] 6

# Basic finished

In [151]:
g  <- 5

In [152]:
g

[1] 5