## Arithmetic with R

#### Addition

In [3]:
1+2

[1] 3

#### Substraction

In [5]:
5-3

[1] 2

#### Division

In [8]:
1/2

[1] 0.5

#### Exponents

In [11]:
2^3

[1] 8

#### Modulo

In [14]:
5 %% 2

[1] 1

#### Order of Operations

In [16]:
(100 * 2)+ (50 /2)

[1] 225

That's it for the basics

### Comparision Operator

In r we can use comparision operatiors to compare variables and return logical values . Let's see some relatively self-explanaroty examples:

#### Greater Than

In [25]:
5 > 6

[1] FALSE

In [26]:
6 > 5

[1] TRUE

We can also do element by element comparisions for two vectors:

In [30]:
v1  <- c(1,2,3)
v2  <- c(10,20,30)

In [31]:
v1 < v2

[1] TRUE TRUE TRUE

#### Greater Than Equal to

In [34]:
6 >= 6

[1] TRUE

In [35]:
6 >= 5

[1] TRUE

In [36]:
6 >= 7

[1] FALSE

#### Less Than and less than or Eaual To

In [39]:
3 < 2

[1] FALSE

In [40]:
2 <= 2

[1] TRUE

Be very carefull with comparison operators and negative numbers! Use spacing to keep things clear. An example of  a dangerous situaation:

In [43]:
var  <- 1

In [44]:
var

[1] 1

In [45]:
#comparing var less  than negative 2
var < -2

[1] FALSE

In [47]:
#Accidentally reassigning var!
var  <- 2

In [48]:
var

[1] 2

keep syntax highlighting in mind to help you avoid this mistake!

#### Not Equal

In [53]:
5 != 2

[1] TRUE

In [54]:
5 != 5

[1] FALSE

Equal

In [56]:
5 == 5

[1] TRUE

In [57]:
2 == 3

[1] FALSE

#### Vector Comparisions

We can apply a comparision of a single number to an entire vector,for example:

In [60]:
v  <- c(1,2,3,4,5)

In [61]:
v < 2

[1]  TRUE FALSE FALSE FALSE FALSE

In [62]:
v == 3

[1] FALSE FALSE  TRUE FALSE FALSE

Later on we will see how we can use these vector comparisions to select parts of a vector!

### Getting Help with R

Aside from a google search or visiting StackOverflow, there are some built-in ways to get help with R!

Most R functions have online documentation.

1)help(topic) documentation on topic ?topic id.
<br>2)help.search("topic") search the help system<br>3)
apropos("topic") the names of all objects in the search list matching the regular expression ”topic”<br>4)
help.start() start the HTML version of help<br>
str(a) display the internal structure of an R object<br>5)
summary(a) gives a “summary” of a, usually a statistical summary but it is generic meaning it has different operations for different classes of a<br>6)
ls() show objects in the search path; specify pat="pat" to search on a pattern<br>7)
ls.str() str() for each variable in the search path<br>8)
dir() show files in the current directory<br>9)
methods(a) shows S3 methods of a<br>10)
methods(class=class(a)) lists all the methods to handle objects of class a
Let's see some basic examples of thow to use these, we won't go through all of them because some of them aren't useful to us...yet!

In [68]:
#Need help with vectors ,tyr help()
help(vector)

Very nice ! We can also do a search:

In [70]:
#This wil pop up a help window (need to pass a character string )
help.search('numeric')

starting httpd help server ...
 done

In [72]:
#Can also use ?? for a xearch 
??vecror

In [73]:
#Can also do a quick stars summary:
v  <-  c(1,2,3,4,5,6)
summary(v)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    2.25    3.50    3.50    4.75    6.00

We will use these help tools later on when we want more information, for now just keep help() and ?? in mind when your stuck on something (as well as google searching!).
<br>Thats's all for now!

### Print Formatting

In [76]:
print("hello")

[1] "hello"

In [78]:
x  <- 10
print(x)

[1] 10

In [81]:
x  <- mtcars
print(mtcars)

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1
Toyota Corona       21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2
Fiat X1-9           27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1
Porsche 914-2       26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2

### Formatting

we can format strings and variables togeather for printing in a few different ways:

#### paste()

The paste() function looks like this:
    paste(....,sep = " ")
Where... are the things you want to paste and sep is the separator you want between the pasted items,by default it items, by default it is a space. For example:

In [87]:
print(paste('hello','world'))

[1] "hello world"

In [89]:
print(paste('hello','world',sep = '-|-'))

[1] "hello-|-world"

#### paste0()

paste0(...collapse) is equabalent to paste(...sep="",collapse),slightly more efficiently.

In [94]:
paste0('hello','world')

[1] "helloworld"

### sprintf

###### srpintff()  
is a wrapper for the C function sprintf that returns a character vector containing a formattdd combination of text and variable values . Meaning you can use % codes to place in variables by specifying all of them at the end. this is best shown though example:

In [97]:
sprintf("%s is %f feet tall\n","Sven",7.1)

[1] "Sven is 7.100000 feet tall\n"

In [98]:
#THIS WILL PRODUCE AN ERROR BECAUSE 7.1 is a float, not an integer 
sprintf("%s is %i feet tall\n","Seven",7.1)

ERROR: Error in sprintf("%s is %i feet tall\n", "Seven", 7.1): invalid format '%i'; use format %f, %e, %g or %a for numeric objects

In [1]:
help(sprintf)

### R Data Types

lets discuss some basic data types in R

### Numerics

In [30]:
n  <- 2.2

Decimal(floating point values) are part of the numeric class in R

#### Integers

Natural(whole) numbers are known as integers and are also part of the numeric class

In [10]:
i  <- 5

#### Logical

Boolean values (True and False) are part of the logical class. In T these are written in All Caps.

In [13]:
t  <- TRUE
f  <- FALSE

In [14]:
t

[1] TRUE

In [15]:
f

[1] FALSE

### Characters

Text/string values are known as charcters in R. You use quotation marks to create a text character string:

In [18]:
char  <- "Hello World!"

In [19]:
char

[1] "Hello World!"

In [20]:
#Also single quotes
c  <- 'Single Quote Char'

In [21]:
c

[1] "Single Quote Char"

### Checking Data Type Classes

You can use the class() function to check the data type of a variable:

In [25]:
class(t)

[1] "logical"

In [26]:
class(f)

[1] "logical"

In [27]:
class(char)

[1] "character"

In [28]:
class(c)

[1] "character"

In [31]:
class(n)

[1] "numeric"

In [32]:
class(i)

[1] "numeric"

Those are some of the basic data types in R, Next we will learn about one of the main data building blocks of R , the vector!

### Variables

lets to over how to assign variables in R

You can use the  <-  character to assign a variable, noote how it kind of looks like an arroow pointing form the object to the variable name.

In [41]:
# Use hashtags for comments
variable.name  <- 100

In [42]:
variable.name

[1] 100

### Working with variables

We can use variables togeather and work with them, for example;

In [45]:
bank.account  <-  100

In [46]:
deposit  <- 10

In [47]:
bank.account  <- bank.account + deposit

In [48]:
bank.account

[1] 110

That's all for now lets's go learn about the basic data types!

### Vector Basics

Vectos are one of the key data structures in R which we will be using.A vector is a 1
dimensional array that can hold character , numeric, or logical data elements.

We can create a vector by using the combine function c().To use the function, we 
    pass in the elements want the arry. with each individual element sepateded by a comma.

lets see some examples:

In [56]:
#Using c() to create a vector of numeric elements
nvec  <- c(1,2,3,4,5)

In [57]:
class(nvec)

[1] "numeric"

In [61]:
#Vector of characters
cvec  <- c('U','S','A')

In [62]:
class(cvec)

[1] "character"

In [60]:
lvec  <- c(TRUE,FALSE)

In [63]:
class(lvec)

[1] "logical"

Note that we can't mix data types of the elements in an array, R will convet the othe elements in hte array to force everything to ve of the same data type. Later on we will learn about the list data structure that can take on multiple data types!

In [66]:
v  <- c(FALSE,2)

In [67]:
v

[1] 0 2

In [68]:
class(v)

[1] "numeric"

In [69]:
v  <- c('A',1)

In [70]:
v

[1] "A" "1"

In [71]:
class(v)

[1] "character"

### Vector Names

We can use the names() function to assign names to each element in our vector. For example, imagine the folowing vecdtor of a week of temperatures:

In [82]:
temps  <- c(72,71,68,73,69,71)

In [81]:
temps

[1] 72 71 68 73 69 71

We know we have 7 temperatures of 7 weekdays, but which temperatue corresponds to which  weekdays? Does it start on Monday, Sunday, or another day of the week? This is where names() can be assigned in the follwing manner:

In [84]:
names(temps)  <- c('Mon','Tue','Wed','Thu','Fri','Sat')

Now note what happens when we display the named vector

In [86]:
temps

Mon Tue Wed Thu Fri Sat
 72  71  68  73  69  71

We can now begin to see how the elements were assigned names! Depending on what IDE you are using , you may see the above displayed hirizontally instead of vertically, that's fine!

In [91]:
days  <- c('Mon','Tue','Wed','Thu','Fri','Sat','Sun')
temps2  <- c(1,2,3,4,5,6,7)
names(temps2)  <- days

In [93]:
temps

Mon Tue Wed Thu Fri Sat
 72  71  68  73  69  71

That's is for vector basics UP next we will go voer woriking with vectros.

### Vector Indexing and Slicing

You can use bracket notation to index and access individual eleemnts from a vecror:

In [98]:
v1  <- c(100,200,300)
v2  <- c('a','b','c')

In [100]:
v1
v2

[1] 100 200 300

[1] "a" "b" "c"

indexing works by using brackets and pasing the index positions of the elements as number. Keep in mind index stars as 1(in some othe programming languases indexing atars at )

In [103]:
# Grab second element 
v1[2]

[1] 200

In [105]:
v2[2]

[1] "b"

#### Multiple Indexing

We can grab mulitple items from a vector by passing a vector of index positions inside the square brackets. For example

In [108]:
v1[c(1,2)]

[1] 100 200

In [109]:
v2[c(2,3)]

[1] "b" "c"

In [110]:
v2[c(1,3)]

[1] "a" "c"

### Slicing

You cna use a colon(:) to indicate a slice of a vector. the format is:
vector[start_index:stop_index]
and you will get that "slice" of the vector retuened to you. For example:

In [114]:
v  <- c(1,2,3,4,5,6,7,8,9,10)

In [115]:
v[2:4]

[1] 2 3 4

In [116]:
v[7:10]

[1]  7  8  9 10

Notice how the eleemnt st both teh starting index and the stpping index and indluded

### Indexing with Names

We've previously seen how we can assign names to the elements in a vedctor for example:

We can use those names along with the indexing brackets to gram individual elemnts from the array!

In [128]:
v  <- c(1,2,3,4)
names(v) <-  c('a','b','c','d')

In [130]:
#Notice how we can call out of order!
v[c('a','c','b')]

a c b
1 3 2

### Comparison Operators and Selection

As alluded to in the comparison operator lecture, we can use comparison operators to filter out elements from a vector. Sometimes this is referred to as boolean/logical masking, because you are creating a vector of logicals to filter out results you want. Let's see an example of this:

In [133]:
v

a b c d
1 2 3 4

In [137]:
v[v>2]

c d
3 4

Let's break this down to see how it works, we first get the vector v>2:

In [139]:
v>2

    a     b     c     d
FALSE FALSE  TRUE  TRUE

Now we basically pass this vector of logicals through the brackets of the vector and only return true values at the matching index positions:

In [141]:
v[v>2]

c d
3 4

We could also assign names to these logical vectors and pass them as well, for example:

In [143]:
filter  <-  v>2

In [145]:
filter

    a     b     c     d
FALSE FALSE  TRUE  TRUE

In [147]:
v[filter]

c d
3 4

Okay that is it for the basics of vectors! Up next is an exercise for review!

### Working with Vectors

We can perform basics arithmetic with vectors and operations will occur on an element by element basis, for example:

In [152]:
v1  <- c(1,2,3)
v2  <- c(5,6,7)

### Adding Vectors

In [155]:
v1-v1

[1] 0 0 0

In [157]:
v1-v2

[1] -4 -4 -4

#### Multiplying Vectors

In [160]:
v1*v2

[1]  5 12 21

#### Deviding Vectros

In [165]:
v1/v2

[1] 0.2000000 0.3333333 0.4285714

### Functions with Vecors

Let's learn about some useful functions that we can use with vectors! A function will be in the form:

name_of_function(input)

later on we will learn about creating our own functions, but R comes with abunch of built-in functions that you will commonly use.

For example, if you want to sum all the elements in a numeric vector, you can use the sum() function. For example:

In [169]:
v1

[1] 1 2 3

In [171]:
sum(v1)

[1] 6

We can also check for things like the standard deviation, variance, maximum element, minimum element, product of elements:

In [173]:
v  <- c(12,45,100,2)

In [175]:
#Standard Deviation
sd(v)

[1] 44.16918

In [177]:
#Variance
var(v)

[1] 1950.917

In [179]:
#Maximum Element
max(v)

[1] 100

In [181]:
#Minimum Element
min(v)

[1] 2

In [184]:
#product of elements
prod(v1)
prod(v2)

[1] 6

[1] 210

This is definitely not all of the functions available that are built in to R! We will be using them over and over again throughout the course, so don't worry too much about memeorizing them, you will naturally begin to remember them more and more as you use them.

Want a reference for all the functions available? Check out this R Reference Card

Ok, that's it for now for basic vector operations!