# What to do with data type i do not understand

In [10]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_excel("jokes_ratings.xlsx")
df.head()

,62,99,99.1,99.2,99.3,0.21875,99.4,-9.28125,-9.28125.1,99.5,...,99.78,99.79,99.80,99.81,99.82,99.83,99.84,99.85,99.86,99.87
0,34,99,99,99,99,-9.68750,99,9.93750,9.53125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
1,18,99,99,99,99,-9.84375,99,-9.84375,-7.21875,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
2,82,99,99,99,99,6.90625,99,4.75000,-5.90625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
3,27,99,99,99,99,-0.03125,99,-9.09375,-0.40625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
4,46,99,99,99,99,-2.90625,99,-2.34375,-0.50000,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0

In [7]:
df.shape

(50691, 151)

In [8]:
df.isnull().sum()

62       0
99       0
99.1     0
99.2     0
99.3     0
        ..
99.83    1
99.84    1
99.85    1
99.86    1
99.87    1
Length: 151, dtype: int64

#